{% load static %}

<!-- Core -->
<!-- <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script> -->
<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/js-cookie/js.cookie.js' %}"></script>
<!-- Sweet Alert -->
<script src="{% static 'assets/vendor/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
<!-- ripple-effect JS -->
<script type="text/javascript" src="{% static 'assets/vendor/click-tap-ripple-effect/ripple-effect.min.js' %}"></script>
<!-- Skytrip JS -->
<!-- <script src="{% static 'assets/js/skytrip.js?v=1.2.0' %}"></script> -->
<script src="{% static 'assets/js/skytrip.js' %}"></script>
<!-- custom js -->
<script src="{% static 'assets/js/custom.js' %}"></script>