{% load static %}

<!-- Favicon -->
<!-- <link rel="icon" href="{% static 'assets/img/brand/favicon.png' %}" type="image/png"> -->
<link rel="icon" href="{% static 'assets/img/icons/skytrip.png' %}" type="image/x-icon" />
<!-- Fonts -->
<link href="{% static 'assets/fonts/open-sans.ttf' %}">
<!-- Icons -->
<link rel="stylesheet" href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.css' %}" type="text/css">
<!-- Skytrip CSS -->
<link rel="stylesheet" href="{% static 'assets/css/skytrip.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" type="text/css">

<!-- load JQuery -->
<script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>